<div class="depot_form">
  <fieldset>
<!-- START_HIGHLIGHT -->
    <legend><%= t('.legend') %></legend>
<!-- END_HIGHLIGHT -->
    <%= render 'form' %>

    <%= link_to 'Back', orders_path %>
  </fieldset>
</div>
